@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0f172a;
  --card: rgba(2,6,23,.7);
}

body { @apply bg-slate-900 text-slate-200; }

.glass {
  background: var(--card);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,.08);
}
